
<!DOCTYPE html>
<html lang="en">
<head>
	<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js%22%3E"></script>
	<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    {% load static %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCwKiXu5rYQjw2iIkFBgSQD28z-H9n-tQ"></script>
     <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
     <link rel="stylesheet" href="{% static 'main/css/style2.css' %}">
</head>
<body> 
<div class="navigation">
            <input type="checkbox" class="navigation_checkbox" id="navi-toggle">

            <label for="navi-toggle" class="navigation_button">
                <span class="navigation_icon">
                    &nbsp;
                </span>
            </label>

            <div class="navigation_background">&nbsp;</div>
                <nav class="navigation_nav">
                    <ul class="navigation_list">
                        <li class="navigation_item"><a href="{% url 'main:main' %}" class="navigation_link"><span>01</span>官方首頁</a></li>
                        <li class="navigation_item"><a href="{% url 'main:base' %}" class="navigation_link"><span>02</span>登革熱病媒蚊地圖</a></li>
                        <li class="navigation_item"><a href="{% url 'main:search' %}" class="navigation_link"><span>03</span>歷史資料查詢</a></li>
                    </ul>
                </nav>
</div>
<br>
<ul class="breadcrumb">
	<li><a href="{% url 'main:main' %}">首頁</a>
	<li><a href="{% url 'main:search' %}">歷史資料查詢</a>
	<li><a href="#">搜尋結果</a>
</ul>
<div class="container">
<br><br><br>
<h1 class="centers" >臺北監測站</h1>
<div class='row'>
  <div id="bar" class='col-4' style="width:300px; height:420px;"></div>
  <div id="bar2" class='col-4' style="width:300px; height:420px;"></div>
  <div id="bar3" class='col-4' style="width:300px; height:420px;"></div>
</div> 
 <div class='row'>
  <div id="bar4" class='col-4'style="width:350px; height:450px;"></div>
  <div id="bar5" class='col-4'style="width:350px; height:450px;"></div>
  <div id="bar6" class='col-4'style="width:350px; height:450px;"></div>
 </div>
 </div>
 <script>
        var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});
        var chart2 = echarts.init(document.getElementById('bar2'), 'white', {renderer: 'canvas'});
        var chart3 = echarts.init(document.getElementById('bar3'), 'white', {renderer: 'canvas'});
        var chart4 = echarts.init(document.getElementById('bar4'), 'white', {renderer: 'canvas'});
        var chart5 = echarts.init(document.getElementById('bar5'), 'white', {renderer: 'canvas'});
        var chart6 = echarts.init(document.getElementById('bar6'), 'white', {renderer: 'canvas'});
 
        $(
            function () {
                fetchData(chart);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/main/bar/",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result.data);
                $.ajax({
                        type: "GET",
                        url: "http://127.0.0.1:8000/main/bar2/",
                        dataType: 'json',
                        success: function (result) {
                            chart2.setOption(result.data);
                        $.ajax({
                                type: "GET",
                                url: "http://127.0.0.1:8000/main/bar3/",
                                dataType: 'json',
                                success: function (result) {
                                    chart3.setOption(result.data);
                                    $.ajax({
                                        type: "GET",
                                        url: "http://127.0.0.1:8000/main/bar4/",
                                        dataType: 'json',
                                        success: function (result) {
                                            chart4.setOption(result.data);
                                         $.ajax({
                                                type: "GET",
                                                url: "http://127.0.0.1:8000/main/bar5/",
                                                dataType: 'json',
                                                success: function (result) {
                                                    chart5.setOption(result.data);
                                                    $.ajax({
                                                        type: "GET",
                                                        url: "http://127.0.0.1:8000/main/bar6/",
                                                        dataType: 'json',
                                                        success: function (result) {
                                                            chart6.setOption(result.data);                                                          
                                                        },
                                                });    
                                                },
                                        });   
                                        },
                                });    
                                },
                        });   
                        },
                });
                },
            });
        }
    </script>
<!--Footer-->
<footer class="footer">
            <div class="footer_logo-box">
                <img src="{% static 'main/img/FJU.jpg' %}" alt="Full logo" class="footer_logo">
            </div>
                    <div class="footer_navigation">
                        <ul class="footer_list">
                            <li class="footer_item"><a href="#" class="footer_link">首頁</a></li>
                            <li class="footer_item"><a href="#" class="footer_link">登革熱病媒蚊地圖</a></li>
                            <li class="footer_item"><a href="#" class="footer_link">歷史資料查詢</a></li>
                            <li class="footer_item"><a href="#" class="footer_link">聯絡我們</a></li>
                            <li class="footer_item"><a href="#" class="footer_link">關於我們</a></li>
                        </ul>
                    </div>
</footer>
</body>
</html>