{% extends 'main/base.html' %}
{% block title %}登革熱病媒蚊監測網-官方首頁{% endblock %}
{% block content %}
{% load static %}

<header class="header">
            <div class="header-logo-box">
                <div class="header-logo">
                    <img src="{% static 'main/img/logo-white.png' %}" alt="error" class="header-logo">
                </div>
            </div>

            <div class="header-text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary-main">登革熱病媒蚊監測系統</span>
                    <span class="heading-primary-sub">Auto monitor photo, no more mosquito</span>
                </h1>

                <a href="#section-tours" class="btn btn-white btn-animated">探索本網站</a>
            </div>
</header>
        
<main>
        <!-- 專題介紹 -->
            <section class="section-about">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        登革熱病媒蚊監測系統特色
                    </h2>
                </div>
                
                <div class="row">
                    <div class="col-1-of-2">

                        <h3 class="heading-tertiary u-margin-bottom-small">對臺灣的嚴重性</h3>   
                        <p class="paragraph">
                            登革熱在2014年.2015年在臺灣造成了15492例及43419例的確診病例後，我們不得不再次面對這嚴峻的全球議題。與新冠肺炎一樣皆為傳染病，不同的是至今為止，登革熱仍沒有特效藥物可治療，僅能依靠支持性療法。因此在藥物尚未問世前，登革熱的預防顯得格外重要，除了加強宣導「巡、倒、清、刷」的觀念及徹底落實積水容器清除以杜絕形成孳生源…等之外，透過軟硬體應用對登革熱病媒蚊進行監測、分析，在登革熱預防上能發揮出莫大的防疫成效。
                        </p>

                        <a href="#" class="btn-text">瞭解更多 &rarr;</a>
                    </div>
                    <div class="col-1-of-2">
                        <div class="composition">
                            <img src="{% static 'main/img/nat-1-large.jpg' %}" alt="photo1" class="composition__photo composition__photo--p1">
                            <img src="{% static 'main/img/nat-2-large.jpg' %}" alt="Photo2" class="composition__photo composition__photo--p2">
                            <img src="{% static 'main/img/nat-3-large.jpg' %}" alt="Photo3" class="composition__photo composition__photo--p3">
                        </div>
                    </div>
                </div>
            </section>
	<!-- 系統特色 -->
            <section class="section-features">

                <div class="row">
                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box_icon icon-basic-world"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">偵測辨識</h3>
                            <p class="feature-box_text">
                                使用深度學習自動辨識
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box_icon icon-basic-compass"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">研究分析</h3>
                            <p class="feature-box_text">
                                研究數據之間的關聯
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box_icon icon-basic-map"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">收集資訊</h3>
                            <p class="feature-box_text">
                                使用單晶片及模組(樹梅派、溫濕度、感光模組)
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box_icon icon-basic-heart"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">預防警示</h3>
                            <p class="feature-box_text">
                                即時做出預防和處理
                            </p>
                        </div>
                    </div>
                </div>          
            </section>
            <br>
            <br><br><br><br>
	<!-- 聯絡我們 -->
            <section class="section-book">
                <div class="row">
                    <div class="book">
                        <div class="book_form">
                            <div class="u-center-text u-margin-bottom-medium">
                                <h2 class="heading-secondary">
                                    聯絡我們
                                </h2>
                            </div>

                            <form action="POST" class="form">
                                <div class="form_group">
                                    <input type="text" id="name" class="form_input" placeholder="全名" required>
                                    <label for="name" class="form_label">全名</label>
                                </div>
                                <div class="form_group">
                                    <input type="email" id="email" class="form_input" placeholder="電子信箱" required>
                                    <label for="email" class="form_label">電子信箱</label>
                                </div>

                                <div class="form_group">
                                    <div class="form_radio-group">
                                        <input type="radio" class="form_radio-input" id="small" name="size">
                                        <label for="small" class="form_radio-label">
                                            <span class="form_radio-button"></span>
                                            重置
                                        </label>
                                    </div>
                                    <div class="form_radio-group">
                                        <input type="radio" class="form_radio-input" id="large" name="size">
                                        <label for="large" class="form_radio-label">
                                            <span class="form_radio-button"></span>
                                            忘記密碼
                                        </label>
                                    </div>
                                </div>
                                <div class="form_group">
                                        <button class="btn btn-green">送出 &rarr;</button>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
{% endblock %}