{% extends 'main/base.html' %}
{% block title %}登革熱病媒蚊監測網-歷史資料查詢{% endblock %}
{% block content %}
{% load static %}
<section class="section-book">
                <div class="row">
                    <div class="book">
                        <div class="book_form">
                            <div class="u-center-text u-margin-bottom-medium">
                                <h2 class="heading-secondary">
                                    登革熱確診病例及天氣資料查詢
                                </h2>
                            </div>

                            <form action="POST" class="form">
                                <div class="form_group">
								<select name="pets" class="form_input">
    							<option value="" selected>請選擇監測站</option>
    							<option value="">台南</option>
    							<option value="">台中</option>
    							<option value="">桃園</option>
    							<option value="">臺北</option>
    							<option value="">新竹</option>
								</select>
                                </div>
                                
                               
                                <div class="form_group">
                                    <select name="pets" class="form_input">
                                    <option value="">請選擇年份</option>
                                    {% for a in num1 %}
                                    <option value="">{{ a }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="form_group">
                                    <select name="pets" class="form_input">
                                    <option value="">請選擇月份</option>
                                    {% for x in num2 %}
                                    <option value="">{{ x }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                
                                
                                	<div class="form_group">
                                        <a class="btn btn-green" href="{% url 'main:data' %}">送出 &rarr;</a>
                                	</div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}